/* @import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap'); */

.player {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
}

input {
    outline: none;
    padding: 5px 10px;
    font-family: inherit;
    max-width: 170px;
}

input:focus {
    border-color: red;
    transition: border-color ease .4s;
}