.board {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 20px;
    margin: 50px 0;
}

.board__wrapper {
    width: 100%;

}

/* ____________________________________________________ */

.board__row {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    max-width: 100%;
    column-gap: 20px;
}

.row__symbol {

    max-width: 100px;
    width: 100%;

}



.symbol__button {
    /*box*/
    position: relative;
    max-width: 100px;
    width: 100%;
    background-color: aliceblue;
    cursor: pointer;
    border: none;
    /* padding: 0;
    margin: 0; */
}

.symbol__button:before {
    content: "";
    display: block;
    padding-top: 100%;
    /* initial ratio of 1:1*/
}

.button__item {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}



@media(max-width: 767.98px) {

    .board__row {
        width: 100%;
    }

    .row__symbol {
        max-width: 23%;
    }
}