.board {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 20px;
    margin: 50px 0;
}

.board__wrapper {
    width: 100%;

}

/* ____________________________________________________ */

.board__row {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    width: 100%;
    column-gap: 20px;
}

.row__symbol {

    max-width: 100px;
    width: 100%;

}



.symbol__button {
    /*box*/
    position: relative;
    max-width: 100px;
    width: 100%;
    background-color: aliceblue;
    cursor: pointer;
}

.symbol__button:before {
    content: "";
    display: block;
    padding-top: 100%;
    /* initial ratio of 1:1*/
}



@media(max-width: 767.98px) {
    .row__symbol {
        max-width: 23%;
    }
}