/* main container - player */
.player {
    box-sizing: content-box;
    display: flex;
    column-gap: 15px;
    align-items: center;
    padding: 10px;
    width: 210px;
    border: 1px solid transparent;
    border-radius: 3px;
    /* border: 1px solid white; */
    overflow: hidden;
    border: 1px solid rgb(64, 35, 35);
}

.active-player {


    animation-name: borderAnimation;
    animation-duration: .5s;
    animation-iteration-count: infinite;
}

.animate-label:hover {
    cursor: pointer;
}

input {
    font-size: 16px;
    /* padding-right: 1px; */

    text-transform: uppercase;
    overflow: hidden;
    width: 100px;
    background-color: transparent;
    color: white;
    border: none;
    font-family: inherit;
    outline: none;
    /* padding: 5px; */
    border: 1px solid transparent;
}

input:focus {
    border: 1px solid white;
}
input:hover {
    border: 1px solid white;
}

input:focus.animated-input {
    animation-play-state: paused;
}

.player__button {
    padding: 5px 10px;
    min-width: 50px;
    
    font-family: inherit;
    text-transform: uppercase;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    transition: background-color .3s ease;
    cursor: pointer;
}

.player__button:hover {
    background-color: rgb(252, 178, 178);
}

.player__button:disabled {
    background-color: transparent;
    cursor: not-allowed;
    color: rgb(101, 101, 101);
}

.popUp {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popUp__content {
    text-align: center;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

/* -------------- */




/* player name/symbol */

.player__input {
    display: flex;
    gap: 7px;
}

.input__name,
.input__symbol {
    color: red;
}


.input__nameText {

    font-family: inherit;
    max-width: 100px;
    font-size: 16px;
    overflow: hidden;
    width: 100%;
    border: 1px solid transparent;
    white-space: nowrap;
    color: white;
    transition: color .3s ease;
    text-transform: uppercase;
}

.input__nameText-disabled {
    color: rgb(101, 101, 101);
}

.input__paragraph {
    /* color: white; */
    transition: color .3s ease;
}
/* input animation */

.animated-input {
    animation-name: input-background-move;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.input-selection {
    border: 1px solid red;
}


@keyframes input-background-move {
    0% {
        color: white;
    }

    50% {
        color: rgb(191, 134, 134);
    }

    100% {
        color: white;
    }
}

@keyframes borderAnimation {
    0% {
        border-color: white;
        /* Start with red border */
    }

    50% {
        border-color: violet;
        /* Transition to green border */
    }

    75% {
        border-color: rgb(220, 58, 220);
        /* Transition to blue border */
    }

    100% {
        border-color: white;
    }
}

/* pop up */

.popUp__button {
    cursor: pointer;
    
}

@media (max-width: 400px) {

    .player {
        
        width: 100%;
    }

    .player__button {
        min-width: 100px;
        padding: 12px 10px;
    }

    input {
        max-width: 100px;
        width: 100%;
    }
}