/* main container - player */
.player {
    display: flex;
    column-gap: 15px;
    align-items: center;
    padding: 10px;
    max-width: 250px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 3px;
}

.active-player {
    
    
    animation-name: borderAnimation;
    animation-duration: .5s;
    animation-iteration-count: infinite;
}

input {
    font-size: 16px;
    height: auto;
    max-width: 70px;
    width: 100%;
    background-color: transparent;
    color: white;
    border: none;
    font-family: inherit;
    outline: none;
    padding: 5px;
    border: 1px solid transparent;
}

input:focus {
    border: 1px solid white;
}

input:focus.animated-input {
    animation-play-state: paused;
}

.player__button {
    padding: 5px 10px;
    max-width: 50px;
    width: 100%;
    font-family: inherit;
    text-transform: uppercase;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    transition: background-color .3s ease;
    cursor: pointer;
}

.player__button:disabled {
    background-color: transparent;
    cursor: not-allowed;
}

.popUp {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popUp__content {
    text-align: center;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

/* -------------- */




/* player name/symbol */

.player__name,
.player__symbol {
    color: red;
}



.player__nameText {
    padding: 5px 0px;
    font-family: inherit;
    max-width: 70px;
    padding: 5px;
    width: 100%;
    border: 1px solid transparent;
    white-space: nowrap;
    color: white;
    transition: color .3s ease;
    text-transform: uppercase;
}

.player__nameText-disabled {
    color: rgb(101, 101, 101);
}

/* input animation */

.animated-input {
    animation-name: input-background-move;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.input-selection {
    border: 1px solid red;
}


@keyframes input-background-move {
    0% {
        color: white;
    }

    50% {
        color: rgb(213, 208, 208);
    }

    100% {
        color: white;
    }
}

@keyframes borderAnimation {
    0% {
      border-color: white; /* Start with red border */
    }
    50% {
      border-color: violet; /* Transition to green border */
    }
    75% {
      border-color: rgb(220, 58, 220); /* Transition to blue border */
    }
    100% {
        border-color: white;
    }
  }

  /* pop up */

  .popUp__button {
    cursor: pointer;
  }